---
import Base from "../layouts/Base.astro";
const title = "Welcome to my corner of the internet";
const description =
  "This is my personal website, where I share my thoughts, projects, and more.";
---

<Base title={title} description={description}>
  <article class="min-h-[50vh] space-y-4">
    <h1 class="text-5xl">Hi, my name is Nils.</h1>
    <p>{description}</p>
    <p class="rounded bg-amber-100 p-2">
      This site is heavy work in progress. Till then, pls feel free to visit my <a
        href="/blog"
        class="font-bold underline">blog</a
      >
    </p>
  </article>
</Base>
