---
import Base from "../layouts/Base.astro";
const title = "Welcome to my corner of the internet";
const description =
  "This is my personal website, where I share my thoughts, projects, and more.";
---

<Base title={title} description={description}>
  <h1 class="text-5xl">y0! How's it going?</h1>
</Base>
