---
import Base from "../layouts/Base.astro";
import LatestPosts from "../components/LatestPosts.astro";
const title = "Welcome to my corner of the internet";
const description =
  "This is my personal website, where I share my thoughts, projects, and more.";
---

<Base title={title} description={description}>
  <div class="overflow-x-clip lg:grid lg:grid-cols-[1fr_1.5fr] lg:items-start">
    <article class="space-y-4 p-5">
      <h1 class="text-5xl">Hi, my name is Nils.</h1>
      <p>{description}</p>
    </article>

    <LatestPosts />
  </div>
</Base>
